body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
}

body {
    display: flex;
}

.hidden {
    display: none !important;
}

.dynamic-section, .form-section {
    position: relative;
    height: 100%;
}

.dynamic-section {
    width: 30%;
    min-width: 375px;
    background: url("images/bg-main-desktop.png");
    background-size: 100% 100%;
}

.card-side {
    position: absolute;
    height: 245px;
    width: 447px;
}

.front-side {
    top: 20%;
    right: -25%;
    background: url("images/bg-card-front.png") no-repeat;
}

.card-logo {
    position: absolute;
    border-radius: 50px;
}

.card-logo.main {
    top: 25px;
    left: 30px;
    width: 45px;
    height: 45px;
    background: white;
}

.card-logo.secondary {
    top: 40px;
    left: 95px;
    width: 15px;
    height: 15px;
    border: 1px solid white;
}

.dynamic-data {
    position: absolute;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: white;
}

.dynamic-card-number {
    bottom: 75px;
    left: 30px;
    font-size: 30px;
    letter-spacing: 3px;
}

.dynamic-name {
    bottom: 30px;
    left: 30px;
    font-size: 16px;
}

.dynamic-expiration-date {
    bottom: 30px;
    right: 35px;
    font-size: 16px;
}

.back-side {
    top: 50%;
    right: -40%;
    background: url("images/bg-card-back.png") no-repeat;
}

.dynamic-cvv {
    top: 112px;
    right: 55px;
    font-size: 14px;
    letter-spacing: 2px;
}

.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left: 155px;
}

.card-details-form {
    width: 380px;
}

.caption {
    display: block;
    width: 150px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.input-field {
    height: 40px;
    padding: 0 15px;
    margin: 10px 0 30px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    color: hsl(279, 6%, 55%);
    border: 1px solid #d0d0d0;
    border-radius: 7px;
    outline: none;
    transition-duration: .2s;
}

.input-field:focus {
    border: 1px solid hsl(279, 6%, 55%);
}

.input-field::placeholder {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    color: #d0d0d0;
}

.input-field:focus::placeholder {
    opacity: 0;
}

.input-field.error {
    border: #b90022 1px solid;
}

.nameBlock, .numberBlock, .expiration-block, .cvv-block {
    position: relative;
}

.error_empty::after {
    content: "Darling, this field can't be empty";
    font-size: 12px;
    left: 0;
    color: #b90022;
    bottom: 10px;
    position: absolute;
}

.expiration-block::after {
    bottom: 20px;
}

.error_digits::after {
    content: "Darling, this field can't contain digits";
    font-size: 12px;
    color: #b90022;
    bottom: 10px;
    position: absolute;
}

.error_too_little::after {
    content: "Darling, it's a bit too little";
    font-size: 12px;
    color: #b90022;
    bottom: 20px;
    left: 0;
    position: absolute;
}

.cvv-block.error_empty::after {
    bottom: -5px;
}

.error_letters::after {
    content: "Darling, this field can't contain letters";
    font-size: 12px;
    color: #b90022;
    bottom: -5px;
    left: 0;
    position: absolute;
}

.numberBlock.error_not_enough::after {
    content: 'Sweetie, this field should contain 16 digits';
    font-size: 12px;
    color: #b90022;
    bottom: 10px;
    left: 0;
    position: absolute;
}

.cvv-block.error_not_enough::after {
    content: 'Sweetie, this field should contain 3 digits';
    font-size: 12px;
    color: #b90022;
    bottom: -5px;
    left: 0;
    position: absolute;
}

.input-field.number, .input-field.name {
    width: 100%;
}

.expiration-block {
    display: inline-block;
    width: 200px;
    margin-right: 20px;
}

.input-field.year, .input-field.month {
    width: 60px;
    margin-bottom: 40px;
}

.input-field.month {
    margin-right: 10px;
}

.cvv-block {
    display: inline-block;
    width: 155px;
}

.input-field.cvv {
    width: 100%;
}

.submit-button {
    position: relative;
    box-sizing: border-box;
    width: 108%;
    height: 50px;
    background: hsl(278, 68%, 11%);
    border-radius: 7px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition-duration: .3s;
}

.submit-button:hover, .continue-button:hover {
    background: hsl(278, 69%, 17%);
}

.submit-button:active, .continue-button:active {
    background: hsl(278, 70%, 24%);
}

.success-status {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success-title {
    margin: 40px 0 0;
    text-transform: uppercase;
    color: hsl(278, 68%, 11%);
    font-size: 28px;
    letter-spacing: 2px;
}

.success-description {
    color: hsl(279, 6%, 55%);
    margin: 25px 0 0;
}

.continue-button {
    width: 380px;
    height: 50px;
    border-radius: 7px;
    color: white;
    background: hsl(278, 68%, 11%);
    border: 0;
    cursor: pointer;
    font-size: 18px;
    transition-duration: .3s;
    margin-top: 50px;
}

@media (max-width: 990px) {
    body {
        flex-direction: column;
    }

    .dynamic-section {
        width: 100%;
        height: 30%;
        background: url("images/bg-main-mobile.png") no-repeat;
        background-size: 100% 100%;
        display: flex;
        justify-content: center;
    }

    .cards {
        display: inline-block;
    }

    .front-side {
        position: absolute;
        left: 10%;
        top: 60%;
        z-index: 2;
    }

    .back-side {
        position: relative;
        left: 25%;
        top: 30%;
    }

    .form-section {
        width: 100%;
        margin-left: 0;
        margin-top: 100px;
    }
}

@media (min-width: 791px) and (max-width: 990px) {
    .card-details-form {
        margin-left: -30px;
        transform: scale(175%);
    }

    .success-status {
        transform: scale(175%);
    }
}